<div class="col-md-12" ng-controller="CreateSupplierController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/supplier">{{'label.anchor.supplier' | translate}}</a></li>
        <li class="active">{{'label.anchor.createsupplier' | translate}}</li>
    </ul>
	<form name="createsupplierform" novalidate="" class="form-horizontal well" 
	      rc-submit="submit()">
	    <api-validate></api-validate>
	    <fieldset>
	        <legend>{{'label.heading.createcompany' | translate}}</legend>
			
			<table>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="gstin">{{'label.gstin' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="gstin" name="gstin" data-ng-model="formData.gstin" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="panNo">{{'label.panno' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="panNo" name="panNo" data-ng-model="formData.panNo" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="gstinComp">{{'label.gstincompany' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="gstinComp" name="gstinComp" data-ng-model="formData.gstinComp" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="etin">{{'label.etin' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="etin" name="etin" data-ng-model="formData.etin" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="supplierName">{{'label.suppliername' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="supplierName" name="supplierName" data-ng-model="formData.supplierName" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="etin">{{'label.addrline1' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="etin" name="etin" data-ng-model="formData.addrLine1" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="contactName">{{'label.contactname' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="contactName" name="contactName" data-ng-model="formData.contactName" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="addrLine2">{{'label.addrline2' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="addrLine2" name="addrLine2" data-ng-model="formData.addrLine2" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
         	<label class="control-label col-sm-2" for="officePhone">{{'label.officephone' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="officePhone" name="officePhone" data-ng-model="formData.officePhone" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="city">{{'label.city' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="city" name="city" data-ng-model="formData.city" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
         	<label class="control-label col-sm-2" for="homePhone">{{'label.homephone' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="homePhone" name="homePhone" data-ng-model="formData.homePhone" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="state">{{'label.state' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="state" name="state" data-ng-model="formData.state" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="rmn">{{'label.mobile' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="rmn" name="rmn" data-ng-model="formData.rmn" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="country">{{'label.country' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="country" name="country" data-ng-model="formData.country" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="fax">{{'label.fax' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="fax" name="fax" data-ng-model="formData.fax" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="pin">{{'label.pin' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="pin" name="pin" data-ng-model="formData.pin" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="rmail">{{'label.email' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="rmail" name="rmail" data-ng-model="formData.rmail" class="form-control">
				 </div>
         	</div>
     </table>
     
  </fieldset>
  <div class="col-md-offset-5 paddedtop">
		    <button id="cancel" type="reset" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
		    <button id="save" type="submit" class="btn btn-primary">{{'label.button.save'
		        | translate}}
		    </button>
		</div>
  
	</form>
</div>

