<div class="col-md-12" ng-controller="ViewSupplierController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/supplier">{{'label.anchor.supplier' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewsupplier' | translate}}</li>
    </ul>

    <div class="well">
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/editsupplier/{{supplier.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
            </div>
        </div>
        <h3 class="bolder">{{supplier.displayName}}</h3>
		<div class="row">
			<div class="col-md-6">
		        <table class="table table-bordered table-striped">
		            <tr>
		                <td>{{ 'label.gstin' | translate }}</td>
		                <td>{{supplier.gstin}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.gstincompany' | translate }}</td>
		                <td>{{supplier.gstinComp}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'suppliername' | translate }}</td>
		                <td>{{supplier.supplierName}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.contactname' | translate }}</td>
		                <td>{{supplier.contactName}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.officephone' | translate }}</td>
		                <td>{{supplier.officePhone}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.homephone' | translate }}</td>
		                <td>{{supplier.homePhone}}</td>
		            </tr>
		            <tr>
                        <td>{{ 'label.mobile' | translate }}</td>
                        <td>{{supplier.rmn}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'label.fax' | translate }}</td>
                        <td>{{supplier.fax}}</td>
                    </tr>
                     <tr>
		                <td>{{ 'label.addrline1' | translate }}</td>
		                <td>{{supplier.addrLine1}}</td>
		            </tr>
                    <tr>
                        <td>{{ 'label.addrline2' | translate }}</td>
                        <td>{{supplier.addrLine2}}</td>
                    </tr>
		        </table>
			</div>
			
			<div class="col-md-6">
		        <table class="table table-bordered table-striped">
		            <tr>
		                <td>{{ 'label.pin' | translate }}</td>
		                <td>{{supplier.pin}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.email' | translate }}</td>
		                <td>{{supplier.rmail}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.city' | translate }}</td>
		                <td>{{supplier.city}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.state' | translate }}</td>
		                <td>{{supplier.state}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.country' | translate }}</td>
		                <td>{{supplier.country}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.panno' | translate }}</td>
		                <td>{{supplier.panNo}}</td>
		            </tr>
                    <tr>
                        <td>{{ 'label.etin' | translate }}</td>
                        <td>{{supplier.etin}}</td>
                    </tr>
		        </table>
			</div>
			
		</div>
    </div>
</div>      
