<div class="col-md-12" ng-controller="SACDataController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.sacdata' | translate}}</li>
    </ul>

    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
    <a href="#/createsacdata" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i>{{'label.button.createsacdata' | translate }}</a>

    <table class="table">
        <thead>
        <tr class="graybg">
        	<th>{{ 'label.heading.sacseqid' | translate }}</th>
            <th>{{ 'label.heading.servicename' | translate }}</th>
            <th>{{ 'label.heading.description' | translate }}</th>
            <th>{{ 'label.heading.sactaxcollection' | translate }}</th>
            <th>{{ 'label.heading.sacothreceipts' | translate }}</th>
            <th>{{ 'label.heading.deductrefund' | translate }}</th>
            <th>{{ 'label.heading.sacpenality' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="sac in sacdata | filter:filterText">
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.sacSeqId}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.serviceName}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.description}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.sacTaxCollection}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.sacOtherReciept}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.sacDeductRefund}}</td>
            <td class="pointer" data-ng-click="routeTo(sac.id)">{{sac.sacPenalty}}</td>
        </tr>
        </tbody>
    </table>
</div>