<div class="col-md-12" ng-controller="ViewSACDataController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/sacdata">{{'label.anchor.sacdata' | translate}}</a></li>
        <li class="active">{{'label.anchor.viewsacdata' | translate}}</li>
    </ul>

    <div class="well">
        <div class="pull-right">
            <div class="btn-group">
                <a href="#/editsacdata" class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'label.button.edit' | translate}}</a>
            </div>
        </div>
        <h3 class="bolder">{{sacdata.displayName}}</h3>
		<div class="row">
			<div class="col-md-6">
		        <table class="table table-bordered table-striped">
		        	<tr>
		                <td>{{ 'label.heading.sacseqid' | translate }}</td>
		                <td>{{sacdata.sacSeqId}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.servicename' | translate }}</td>
		                <td>{{sacdata.serviceName}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.description' | translate }}</td>
		                <td>{{sacdata.description}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.sactaxcollection' | translate }}</td>
		                <td>{{sacdata.sacTaxCollection}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.sacothreceipts' | translate }}</td>
		                <td>{{sacdata.sacOtherReciept}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.deductrefund' | translate }}</td>
		                <td>{{sacdata.sacDeductRefund}}</td>
		            </tr>
		            <tr>
		                <td>{{ 'label.heading.sacpenality' | translate }}</td>
		                <td>{{sacdata.sacPenalty}}</td>
		            </tr>
		        </table>
			</div>
			
		</div>
    </div>
</div>      
