<div class="col-md-12" ng-controller="GSTR1ProcessDataController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.gstr1processdata' | translate}}</li>
    </ul>

    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
    <a href="#/creategstr1processdata" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i>{{'label.button.creategstr1processdata' | translate }}</a>

    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.gstin' | translate}}</th>
            <th>{{'label.fp' | translate}}</th>
            <th>{{'label.grossturnover' | translate}}</th>
            <th>{{'label.fileno' | translate}}</th>
            <th>{{'label.version' | translate}}</th>
            <th>{{'label.action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="gstr in gstr1processdata| filter:filterText">
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.gstin}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.fp}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.grossTurnover}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.fileNo}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.version}}</td>
            <td>
             	<a ng-if="gstr.status==0" ng-click = "action('approve',gstr.id)" title="Approve"  data-popover-trigger="mouseenter">
                 		<i class="icon-check icon-white icon-2x"></i>
                </a> &nbsp;&nbsp;&nbsp;
                <a ng-if="gstr.status==0" ng-click = "action('reject',gstr.id)" title="Reject"  data-popover-trigger="mouseenter">
                 		<i class="icon-ban-circle icon-white icon-2x"></i>
                </a>
                <span ng-show="gstr.status==4" style="color:green;">Approved</span>
                <span ng-show="gstr.status==3" style="color:red;">Rejected</span>
             </td>
         </tr>
        </tbody>
    </table>
</div>