<div class="col-md-12" ng-controller="GSTR1B2BInvController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.gstr1b2binv' | translate}}</li>
    </ul>

    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
    
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.gstin' | translate}}</th>
            <th>{{'label.fp' | translate}}</th>
            <th>{{'label.grossturnover' | translate}}</th>
            <th>{{'label.fileno' | translate}}</th>
            <th>{{'label.action' | translate}}</th>
        </tr>
        </thead>
        <!-- <tbody>
        <tr class="pointer-main" ng-repeat="gstr in gstr1processdata| filter:filterText">
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.gstin}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.fp}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.grossTurnover}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.fileNo}}</td>
            <td class="pointer" data-ng-click="routeTo(gstr.id)">{{gstr.version}}</td>
         </tr>
        </tbody> -->
    </table>
</div>