<div class="col-md-12" ng-controller="EditOutwardInvoiceController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/employees">{{'label.anchor.outwardinvoice' | translate}}</a></li>
            <li class="active">{{'label.anchor.editsupplier' | translate}}</li>
        </ul>
    </div>
    <form name="editsupplierform" novalidate="" class="form-horizontal well" 
	      rc-submit="submit()">
	    <api-validate></api-validate>
	    <fieldset>
	        <legend>{{'label.heading.createcompany' | translate}}</legend>
			
			<table>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="gstin">{{'label.heading.gstin' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="gstin" name="gstin" data-ng-model="formData.gstin" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="orderDate">{{'label.heading.orderdate' | translate}} <span class="required">*</span></label>
				<!-- <div class="controls col-sm-3">
 					<input type="text" id="orderDate" name="orderDate" data-ng-model="formData.orderDate" class="form-control">
				 </div> -->
				 <div class="col-sm-3">
                    <input id="orderDate" name="orderDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.orderDate"
                           class="form-control" is-open="opened" min="minDate" max="restrictDate" required/>
                </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="gstinPurchaser">{{'label.heading.gstinpurchaser' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="gstinPurchaser" name="gstinPurchaser" data-ng-model="formData.gstinPurchaser" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="etin">{{'label.heading.etin' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="etin" name="etin" data-ng-model="formData.etin" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="cName">{{'label.heading.cname' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="cName" name="cName" data-ng-model="formData.cName" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="invoiceId">{{'label.heading.invoiceid' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="invoiceId" name="invoiceId" data-ng-model="formData.invoiceId" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="supplierInvNo">{{'label.heading.supplierinvno' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="supplierInvNo" name="supplierInvNo" data-ng-model="formData.supplierInvNo" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="receiptStateCode">{{'label.heading.receiptstatecode' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="receiptStateCode" name="receiptStateCode" data-ng-model="formData.receiptStateCode" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
         	<label class="control-label col-sm-2" for="supplierInvDate">{{'label.heading.supplierinvdate' | translate}} <span class="required">*</span></label>
				<!-- <div class="controls col-sm-3">
 					<input type="text" id="supplierInvDate" name="supplierInvDate" data-ng-model="formData.supplierInvDate" class="form-control">
				 </div> -->
				 <div class="col-sm-3">
                    <input id="supplierInvDate" name="supplierInvDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.supplierInvDate"
                           class="form-control" is-open="opened" min="minDate" max="restrictDate" required/>
                </div>
				<label class="control-label col-sm-2" for="status">{{'label.status' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="status" name="status" data-ng-model="formData.status" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
         	<label class="control-label col-sm-2" for="supplierInvValue">{{'label.supplierinvvalue' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="supplierInvValue" name="supplierInvValue" data-ng-model="formData.supplierInvValue" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="errorCode">{{'label.heading.errorcode' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="errorCode" name="errorCode" data-ng-model="formData.errorCode" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="supplyStateCode">{{'label.heading.supplierstatecode' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="supplyStateCode" name="supplyStateCode" data-ng-model="formData.supplyStateCode" class="form-control">
				 </div>
				<label class="control-label col-sm-2" for="errorDescripter">{{'label.heading.errordescription' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="errorDescripter" name="errorDescripter" data-ng-model="formData.errorDescripter" class="form-control">
				 </div>
         	</div>
         	
         	<div class="form-group">
				<label class="control-label col-sm-2" for="orderNo">{{'label.heading.orderno' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="orderNo" name="orderNo" data-ng-model="formData.orderNo" class="form-control">
				 </div>
         	</div>
     </table>
     
  </fieldset>
  <div class="col-md-offset-5 paddedtop">
		    <button id="cancel" type="reset" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
		    <button id="save" type="submit" class="btn btn-primary">{{'label.button.save'
		        | translate}}
		    </button>
		</div>
  
	</form>
</div>
