<div class="col-md-12" ng-controller="CompanyController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.company' | translate}}</li>
    </ul>

    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
    <a href="#/createcompany" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i>{{'label.button.createcompany' | translate }}</a>

    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.heading.companyname' | translate}}</th>
            <th>{{'label.heading.contactname' | translate}}</th>
            <th>{{'label.heading.mobile' | translate}}</th>
            <th>{{'label.heading.email' | translate}}</th>
            <th>{{'label.heading.city' | translate}}</th>
            <th>{{'label.heading.country' | translate}}</th>
             <th>{{'label.heading.panno' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer-main" ng-repeat="comp in company | filter:filterText">
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.companyName}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.contactName}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.mobile}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.email}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.city}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.country}}</td>
            <td class="pointer" data-ng-click="routeTo(comp.id)">{{comp.panNo}}</td>
        </tr>
        </tbody>
    </table>
</div>