<div class="col-md-12" ng-controller="EditCompanyController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/company">{{'label.anchor.company' | translate}}</a></li>
            <li class="active">{{'label.anchor.editcompany' | translate}}</li>
        </ul>
    </div>
    <form name="editcompanyform" novalidate="" class="form-horizontal well" 
	      rc-submit="submit()">
	    <api-validate></api-validate>
	    <fieldset>
	        <legend>{{'label.heading.createcompany' | translate}}</legend>
			
			<table>
         	
         	 <!-- <legend class="heading1">{{'label.heading.companyinfo' | translate}}</legend> -->
         	 
         	<div class="form-group">
         		<label class="control-label col-sm-2" for="companyName">{{'label.company.name' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="companyName" name="companyName" data-ng-model="formData.companyName" class="form-control" data-ng-pattern="/^[a-zA-Z0-9]*$/" data-ng-minlength=3 data-late-Validate>
 					<div  data-ng-show="editcompanyform.companyName.$invalid"><br>
	                   <small class="error" data-ng-show="editcompanyform.companyName.$error.req">
	                      {{'label.required.field' | translate}}
	                   </small>
	                   <small class="error" data-ng-show="editcompanyform.companyName.$error.minlength && !editcompanyform.companyName.$error.req">Company Name required at least 3 characters</small>
	               		<small class="error" data-ng-show="editcompanyform.companyName.$error.pattern"> {{'label.error.specialchar' | translate}} </small>
	               </div>
				 </div>
				
				<label class="control-label col-sm-2" for="addressLine1">{{'label.address1' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="addressLine1" name="addressLine1" data-ng-model="formData.addressLine1" class="form-control" data-ng-minlength=3 data-late-Validate>
 					<span  data-ng-show="editcompanyform.addressLine1.$invalid"><br>
	                   <small class="error" data-ng-show="editcompanyform.addressLine1.$error.req">
	                      {{'label.required.field' | translate}}
	                   </small>
	                   <small class="error" data-ng-show="editcompanyform.addressLine1.$error.minlength && !editcompanyform.addressLine1.$error.req">Address required at least 3 characters</small>
	               </span>
				 </div>
				 
         	</div>
	          <div class="form-group">
				<label class="control-label col-sm-2" for="contactName">{{'label.contact.name' | translate}} <span class="required">*</span></label>
				<div class="controls col-sm-3">
 					<input type="text" id="contactName" name="contactName" data-ng-model="formData.contactName" class="form-control" data-ng-pattern="/^[a-zA-Z0-9]*$/"  data-ng-minlength=3 data-late-Validate>
				 	<div  data-ng-show="editcompanyform.contactName.$invalid"><br>
	                   <small class="error" data-ng-show="editcompanyform.contactName.$error.req">
	                      {{'label.required.field' | translate}}
	                   </small>
	                   <small class="error" data-ng-show="editcompanyform.contactName.$error.minlength && !editcompanyform.contactName.$error.req">Contract Name required at least 3 characters</small>
	               		<small class="error" data-ng-show="editcompanyform.contactName.$error.pattern"> {{'label.error.specialchar' | translate}} </small>
	               </div>
				 </div>
				 
				 <label class="control-label col-sm-2" for="addressLine2">{{'label.address2' | translate}}</label>
					<div class="controls col-sm-3">
 						<input type="text" id="addressLine2" name="addressLine2" data-ng-model="formData.addressLine2" class="form-control">
				 	</div>

			  </div>
			  
	          <div class="form-group ">
				<label class="control-label col-sm-2" for="officePhone">{{'label.phone.office' | translate}}</label>
				<div class="controls col-sm-3">
 					<input type="text" id="officePhone" name="officePhone" data-ng-model="formData.officePhone" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" data-late-Validate/>
 					<span data-ng-show="editcompanyform.officePhone.$dirty && editcompanyform.officePhone.$invalid"><br>
		  				<small class="error" data-ng-show="editcompanyform.officePhone.$error.pattern">{{'label.prospect.error.phone Office' | translate}}</small>
					</span>
				 </div>
				 
				 <label class="control-label col-sm-2" for="city"> {{'label.city' | translate }} <span class="required">*</span> </label>
					<div class="controls col-sm-3">
						<input type="text" id="city" name="city" data-ng-model="formData.city" class="form-control">
					</div>
				 
			 </div>
			 
			<div class="form-group">
				<label class="control-label col-sm-2" for="homePhone">{{'label.phone.home' | translate}}</label>
				<div class="controls col-sm-3">
 					<input type="text" id="homePhone" name="homePhone" data-ng-model="formData.homePhone" class="form-control"data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" data-late-Validate/>
 					<span data-ng-show="editcompanyform.homePhone.$dirty && editcompanyform.homePhone.$invalid"><br>
		  				<small class="error" data-ng-show="editcompanyform.homePhone.$error.pattern">{{'label.prospect.error.phone Office' | translate}}</small>
					</span>
				 </div>
				 
				 <label class="control-label col-sm-2" for="state"> {{'label.state' | translate }} <span class="required">*</span></label>
				<div class="controls col-sm-3">
					<input type="text" id="state" data-ng-model="formData.state"  class="form-control">
				</div>
				 
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="mobile">{{'label.mobile' | translate}} <span class="required">*</span></label>
   					<div class="controls col-sm-3">
     					<input type="text" id="mobile" name="mobile" data-ng-model="formData.mobile" class="form-control"data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" maxlength="15" minlength="10" data-late-Validate/><br>
    					<span data-ng-show="editcompanyform.mobile.$dirty && editcompanyform.mobile.$invalid"><br>
    					<small class="error" data-ng-show="editcompanyform.mobile.$error.req">
	                      {{'label.required.field' | translate}}
	                   </small>
							<small class="error-row" data-ng-show="editcompanyform.mobile.$error.pattern"> {{'label.prospect.error.mobileno' | translate}} </small>
  						</span>
				 </div>
				 
				 <label class="control-label col-sm-2" for="country"> {{'label.country' | translate }} <span class="required">*</span></label>
				<div class="controls col-sm-3">
					<input type="text" id="country" data-ng-model="formData.country" class="form-control">
				</div>
				 
			</div>
			<div class="form-group ">
   				<label class="control-label col-sm-2" for="fax">{{'label.fax' | translate}} <span class="required">*</span></label>
   					<div class="controls col-sm-3">
     					<input type="text" id="fax" name="fax" data-ng-model="formData.fax" class="form-control"data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" data-late-Validate/>
	 					<span data-ng-show="editcompanyform.fax.$dirty && editcompanyform.fax.$invalid"><br>
			  				<small class="error" data-ng-show="editcompanyform.fax.$error.pattern">{{'label.prospect.error.fax' | translate}}</small>
						</span>
				 </div>
				 
				 <label class="control-label col-sm-2">{{'label.pin' | translate}} <span class="required">*</span></label>
		        <div class="controls col-sm-3">
		          <input type="text" id="pin" name="pin" data-ng-model="formData.pin" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" required  data-late-Validate/>
		        	<span data-ng-show="editcompanyform.pin.$dirty && editcompanyform.pin.$invalid"><br>
		  				<small class="error" data-ng-show="editcompanyform.pin.$error.pattern">{{'label.prospect.error.pin' | translate}}</small>
					</span>	
		        </div>
				 
			</div>
			<div class="form-group ">
   				<label class="control-label col-sm-2" for="email">{{'label.email' | translate}} <span class="required">*</span></label>
   					<div class="controls col-sm-3">
     					<input type="email" id="email" name="email" data-ng-model="formData.email" class="form-control">
     					<div data-ng-show="editcompanyform.email.$dirty && editcompanyform.email.$invalid">
							<small class="error" data-ng-show="editcompanyform.email.$error.email"> {{'label.prospect.error.email' | translate}} </small>
						</div>
				 </div>
				 <label class="control-label col-sm-2" for="gstnid">{{'label.gstnid' | translate}}</label>
				<div class="controls col-sm-3" >
					<input type="file" ng-file-select="onFileSelect($files)">
				</div>
			</div>
			<div class="form-group ">
   				<label class="control-label col-sm-2" for="gstnRegNo">{{'label.gstn' | translate}} <span class="required">*</span></label>
   					<div class="controls col-sm-3">
     					<input type="text" id="gstnRegNo" name="gstnRegNo" data-ng-model="formData.gstnRegNo" class="form-control">
				 </div>
				  <label class="control-label col-sm-2" for="panid">{{'label.panid' | translate}}</label>
					<div class="controls col-sm-3" >
						<input type="file" ng-file-select="onFileSelect($files)">
					</div>
			</div>
			<div class="form-group">
   				<label class="control-label col-sm-2" for="panNo">{{'label.pan' | translate}} <span class="required">*</span></label>
   					<div class="controls col-sm-3">
     					<input type="text" id="panNo" name="panNo" data-ng-model="formData.panNo" class="form-control">
				 </div>
			</div>
			
     		<!-- <div class="col-md-6">
     		<legend class="heading1">{{'label.heading.corpaddress' | translate}}</legend>
     		<div class="form-group">
				<label class="control-label col-md-3" for="addressLine1">{{'label.address1' | translate}} <span class="required">*</span></label>
				<div class="controls col-md-6">
 					<input type="text" id="addressLine1" name="addressLine1" data-ng-model="formData.addressLine1" class="form-control" data-ng-minlength=3 data-late-Validate>
 					<span  data-ng-show="editcompanyform.addressLine1.$invalid"><br>
	                   <small class="error" data-ng-show="editcompanyform.addressLine1.$error.req">
	                      {{'label.required.field' | translate}}
	                   </small>
	                   <small class="error" data-ng-show="editcompanyform.addressLine1.$error.minlength && !editcompanyform.addressLine1.$error.req">Address required at least 3 characters</small>
	               </span>
				 </div>
			 </div>
			 <div class="form-group ">
				<label class="control-label col-md-3" for="addressLine2">{{'label.address2' | translate}}</label>
				<div class="controls col-md-6">
 					<input type="text" id="addressLine2" name="addressLine2" data-ng-model="formData.addressLine2" class="form-control">
				 </div>
			 </div>
      <div class="form-group ">
		<label class="control-label col-md-3" for="city"> {{'label.city' | translate }} <span class="required">*</span> </label>
		<div class="controls col-md-6">
			<input type="text" id="city" name="city" data-ng-model="formData.city" list="citylist" data-ng-change="getStateAndCountry(formData.city)" class="form-control">
		</div>
	</div> 
	<datalist id="citylist">
		<option  data-ng-repeat="cityData in cities" value="{{cityData}}">
	</datalist>
	
	<div class="form-group">
		<label class="control-label col-md-3" for="state"> {{'label.state' | translate }} <span class="required">*</span></label>
		<div class="controls col-md-6">
			<input type="text" id="state" data-ng-model="formData.state" readonly class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-md-3" for="country"> {{'label.country' | translate }} <span class="required">*</span></label>
		<div class="controls col-md-6">
			<input type="text" id="country" data-ng-model="formData.country" readonly class="form-control">
		</div>
	</div>
    <div class="form-group">
        <label class="control-label col-md-3">{{'label.pin' | translate}} <span class="required">*</span></label>
        <div class="controls col-md-6">
          <input type="text" id="pin" name="pin" data-ng-model="formData.pin" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" required  data-late-Validate/>
        	<span data-ng-show="editcompanyform.pin.$dirty && editcompanyform.pin.$invalid"><br>
  				<small class="error" data-ng-show="editcompanyform.pin.$error.pattern">{{'label.prospect.error.pin' | translate}}</small>
			</span>	
        </div>
    </div>
    <legend class="heading1">{{'label.heading.refdoc' | translate}}</legend>
    <div class="form-group">
	  <label class="control-label col-md-3" for="ifOtherSpecifyattach">{{'label.gstnid' | translate}}</label>
		<div class="controls col-md-6" >
			<input type="file" ng-file-select="onFileSelect($files)">
		</div>
  	  </div>
  	  <div class="form-group">
	  <label class="control-label col-md-3" for="ifOtherSpecifyattach">{{'label.panid' | translate}}</label>
		<div class="controls col-md-6" >
			<input type="file" ng-file-select="onFileSelect($files)">
		</div>
  	  </div>
  	  </div> -->
  	  
  	  
  	  
     </table>
     
     
     
  </fieldset>
  <div class="col-md-offset-5 paddedtop">
		    <button id="cancel" type="reset" class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
		    <button id="save" type="submit" class="btn btn-primary">{{'label.button.save'
		        | translate}}
		    </button>
		</div>
  
	</form>
</div>
